html {
    font-size: 40px;
    font-family: 'Lovers Quarrel', cursive;
    background-image: url('../images/love-letter-accueil.jpg');
    background-size: cover;
    background-color: #6E0B14;
}

h1 {
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #F0C300;
    text-shadow: 3px 3px 1px black;
}

body {
    margin: 0 2.5% 2.5% 2.5%;
    width: 100vw;
    height: 100vh;
}

.box {
    border: 1px solid #F0C300;
    border-radius: 1em;
    color: #F0C300;
    font-family: inherit;
    display: inline-block;
}

div {
    overflow: auto;
    width: calc(35% - 1em);
    height: 100%;
    padding: 1em;
}

#cards {
    text-align: center;
    position: left;
}

#card {
    margin-left: auto;
    margin-right: auto;
}

#cardDesc {
    margin-left: auto;
    margin-right: auto;
}

form {
    width: 20%;
    padding: 1em;
    margin: 0 2.5% auto 2.5%;
}

input {
    color: #F0C300;
    text-shadow: 0.75px 0.75px 0.25px black;
    font-family: inherit;
    font-size: 30px;
}

#rules {
    text-align: justify;
    position: right;
}

#username {
    width: 305px;
}

#create {
    width: 320px;
}

#gameID {
    width: 100px;
}

#join {
    width: 200px;
}
