/* -------------- */
/* General things */
/* -------------- */

html {
    font-size: 30px;
    font-family: 'Lovers Quarrel', cursive;
    background-image: url('../images/love-letter-accueil.jpg');
    background-size: 100% auto;
    background-color: #6E0B14;
}

body {
    margin: 0;
    padding: 0;
}

body > div {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.box {
    border: 1px solid #F0C300;
    border-radius: 1em;
    color: #F0C300;
    font-family: inherit;
    margin: 2.5%;
}


/* ---------- */
/* First page */
/* ---------- */

h1 {
    font-size: 5em;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #F0C300;
    text-shadow: 3px 3px 1px black;
}

.bodyPage1 {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    width: 20%;
    height: 30%;
}

input {
    color: #F0C300;
    text-shadow: 0.75px 0.75px 0.25px black;
    font-family: inherit;
    font-size: 30px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.input {
    margin: 5% 0;
    padding: 0;
}

#username {
    width: 100%;
}

#create {
    width: 100%;
}

#gameID {
    width: 30%;
}

#join {
    width: 70%;
}


/* ----------- */
/* Second page */
/* ----------- */

.page2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left, .right {
    overflow: auto;
    padding: 1em;
    font-size: 40px;
    flex: 1;
    height: 83%;
}

.left {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-right: 7.5%;
}

.right {
    text-align: justify;
    margin-left: 7.5%;
}

.right > ul {
    list-style-type: none;
    list-style-image: url('../images/logo4.png');
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.right ol {
    list-style-image: none;
    list-style-position: outside;
}

h2 {
    font-size: 2em;
}

ul > li {
    font-size: 1.5em;
}
